@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.home {
    #home_header {
        background-color: $background;
        font-family: "Silkscreen", sans-serif;
        color: $text;
        font-size: 0.7rem;

        
    }
}
