//Colours

$text: #000000;
$background: #f54747;
$primary: #9faac1;
$secondary: #d05d5d;
$accent: #ffb084;

//Fonts
@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/quicksand/v25/6xKtdSZaM9iE8KbpRA_LJ3z8mH9BOJvgk9PmG_8AAv2L0hzH5F3nmX0IRf5v9nEHpkw.woff2")
        format("woff2");
}

//Media Breaks
$small-screen: 576px; // Small screens (e.g., smartphones)
$medium-screen: 768px; // Medium screens (e.g., tablets)
$large-screen: 992px; // Large screens (e.g., small laptops/desktops)
$extra-large-screen: 1200px; // Extra-large screens (e.g., larger desktops)

//Layout
@mixin flex($display: flex, $direction: row, $justify: center, $align: center) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//Table
@mixin table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px * 2;

    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ecf0f1;

        &:last-child {
            border-right: 1px solid #ecf0f1;
        }
    }

    th {
        background-color: #d05d5d;
        color: #fff;
    }

    tr {
        &:nth-child(even) {
            background-color: $primary;
        }
        &:hover {
            background-color: $accent;
            cursor: pointer;
        }
    }

    @media (max-width: 900px) {
        thead {
            display: none;
        }

        tbody {
            gap: 10px;
            display: flex;
            flex-direction: column;

            tr {
                border: 1px solid $primary;
                border-radius: 12px;
            }
        }

        th,
        td {
            display: block;

            box-sizing: border-box;
        }

        td {
            text-align: right;
            &:last-child {
                border-right: none;
            }

            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }
        }
        td:nth-of-type(1):before {
            content: "Name";
        }
        td:nth-of-type(2):before {
            content: "Email";
        }
        td:nth-of-type(3):before {
            content: "Address";
        }
        td:nth-of-type(4):before {
            content: "Phone";
        }
    }
}
